{% extends 'core/base.html' %}

{% block conteudo %}
    <a href="{% url 'principal' %}">Home</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo deleniti perspiciatis adipisci eligendi minima, assumenda inventore quam pariatur neque quo excepturi ad, autem ab quod cupiditate quasi blanditiis exercitationem vero itaque, iste cum voluptate! Quaerat nam laborum magni quasi. Harum molestiae vero nesciunt libero vel ducimus voluptas numquam dolorem fuga?</p>
{% endblock conteudo %}
